<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>NASA Image Search</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
  </head>
  <body>
      
    <div class="container">
        <h1 class="title">NASA Image Search</h1>
        <div id="search-switch">
            <label class="switch-label">Basic</label>
            <label class="switch">
                <input type="checkbox" id="search-checkbox" onclick="myFunction()">
                <span class="slider round"></span>
            </label>
            <label class="switch-label">Advanced</label>
        </div>
        <form action="/" method="post">

          <input name="search" type="text" class="ghost-input" placeholder="Search for images..." required>
          
            <input name="year_start" type="text" class="ghost-input-alt" id="alt-input1" placeholder="Specify by start year">
            <input name="year_end" type="text" class="ghost-input-alt" id="alt-input2" placeholder="Specify by end year">
            <input name="location" type="text" class="ghost-input-alt" id="alt-input3" placeholder="Specify by location">
        
          <input type="submit" class="ghost-button" value="Get Search Results">
        </form>
        
        <% if(results !== null){ %>
            <h3><%=results.collection.metadata.total_hits%> results</h1>   
            <%  for (i = 0; i < results.collection.items.length; i++) {%>
                <div class="results-box"><h1><%=results.collection.items[i].data[0].title%></h1> 
                    <% if(results.collection.items[i].links){ %>
                        <img src="<%=results.collection.items[i].links[0].href%>" alt="<%=results.collection.items[i].data[0].title%>">
                    <%}%>
                    <% if(results.collection.items[i].data[0].description){ %>
                        <p><b>Description: </b><%=results.collection.items[i].data[0].description%></p>
                    <%}%>
                    <% if(results.collection.items[i].data[0].location){ %>
                        <p><b>Location: </b><%=results.collection.items[i].data[0].location%></p>
                    <%}%>
                    <% if(results.collection.items[i].data[0].date_created){ %>
                        <p><b>Date Created: </b><%=results.collection.items[i].data[0].date_created%></p>
                    <%}%>
                    <% if(results.collection.items[i].data[0].media_type){ %>
                        <p><b>Media Type: </b><%=results.collection.items[i].data[0].media_type%></p>
                    <%}%>
                    <% if(results.collection.items[i].data[0].nasa_id){ %>
                        <p><b>NASA ID: </b><%=results.collection.items[i].data[0].nasa_id%></p>
                    <%}%>

                    <button class="view-download-button" url="<%=results.collection.items[i].href%>">Links to Download</button>
                    <div class="downloads">
                        <p>Loading <%=results.collection.items[i].href%></p>
                    </div>
                    <div class="results-spacer"></div>
                    <button class="view-metadata-button" url="https://images-assets.nasa.gov/<%=results.collection.items[i].data[0].media_type%>/<%=results.collection.items[i].data[0].nasa_id%>/metadata.json">Metadata</button>
                    <div class="metadata">
                        <p>Loading https://images-assets.nasa.gov/<%=results.collection.items[i].data[0].media_type%>/<%=results.collection.items[i].data[0].nasa_id%>/metadata.json</p>
                    </div>
                </div>                
                <div class="results-spacer"></div>
            <% } %>
            
        <% } %>

        <% if(error !== null){ %>
          <p><%= error %></p>
        <% } %>
    </div>
        <script>
            function myFunction() {
                console.log("testing")
                var checkBox = document.getElementById("search-checkbox");

                var input1 = document.getElementById("alt-input1");
                var input2 = document.getElementById("alt-input2");
                var input3 = document.getElementById("alt-input3");

                if (checkBox.checked == true){
                    input1.style.display = "block";
                    input2.style.display = "block";
                    input3.style.display = "block";
                } else {
                    input1.style.display = "none";
                    input2.style.display = "none";
                    input3.style.display = "none";    
                }
            }
            //View Downloads Button
            var downloads_button = document.getElementsByClassName("view-download-button");
            var i;

            for (i = 0; i < downloads_button.length; i++) {
                downloads_button[i].addEventListener("click", function() {
                    this.classList.toggle("open-downloads");
                    let url = this.getAttribute("url")
                    let content = this.nextElementSibling;
                    var objectFound = false;
                    fetch(url).then(res => res.json()).then(data => {
                        content.innerHTML = "";
                        for(j = 0; j < data.length - 1; j++){
                                let node = document.createElement("p");
                                node.innerHTML = "<a href=" + data[j] +">" + data[j] + "</a>: ";
                                content.appendChild(node); 
                        }
                    })

                    if (content.style.display === "block") {
                        content.style.display = "none";
                    } else {
                        content.style.display = "block";
                    }
                });
            }

            //View Metadata Button
            var metadata_button = document.getElementsByClassName("view-metadata-button");
            var j;

            for (j = 0; j < metadata_button.length; j++) {
                metadata_button[j].addEventListener("click", function() {
                    this.classList.toggle("open-metadata");

                    let url = this.getAttribute("url")
                    let content = this.nextElementSibling;
                    var objectFound = false;
                    fetch(url).then(res => res.json()).then(data => {
                        content.innerHTML = "";
                        for(let key in data){
                            if(!(typeof data[key] === "object")) {
                                let node = document.createElement("p");
                                node.innerHTML = "<b>" + key + "</b>: " + data[key];
                                content.appendChild(node);
                            } else {
                                objectFound = true;
                            } 
                        }
                    if(objectFound) {
                        let node = document.createElement("p");
                        node.innerHTML = "<i> Not all metadata shown. For full list, visit: " + url;
                        content.appendChild(node);
                    }
                    })

                    if (content.style.display === "block") {
                    content.style.display = "none";
                    } else {
                    content.style.display = "block";
                    }
                });
            }
        </script>
  </body>
</html>
