<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>NASA Image Search</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
  </head>
  <body>
      
    <div class="container">
        <h1 class="title">NASA Image Search</h1>

        <div id="search-switch">
            <label class="switch-label">Basic</label>
            <label class="switch">
                <input type="checkbox" id="search-checkbox" onclick="showAdvancedSearch()">
                <span class="slider round"></span>
            </label>
            <label class="switch-label">Advanced</label>
        </div>

        <form action="/" method="post">

            <input name="search" type="text" class="main-search" placeholder="Search for images..." required>

            <div style="text-align: center;">
                <label class="media-selector">Images
                    <input type="checkbox" name="include_image" checked="checked">
                    <span class="checkmark"></span>
                </label>
                <label class="media-selector">Video
                    <input type="checkbox" name="include_video" checked="checked">
                    <span class="checkmark"></span>
                </label>
                <label class="media-selector">Audio
                    <input type="checkbox" name="include_audio" checked="checked">
                    <span class="checkmark"></span>
                </label>
            </div>
          
            <input name="year_start" type="text" class="adv-search" placeholder="Specify by start year...">
            <input name="year_end" type="text" class="adv-search" placeholder="Specify by end year...">
            <input name="location" type="text" class="adv-search" placeholder="Specify by location...">
            <input type="submit" class="submit-button" value="Get Search Results">
        </form>
        
        <% if(results !== null){ %>
            <h3><%=results.collection.metadata.total_hits%> results</h1>   
            <%  for (i = 0; i < results.collection.items.length; i++) {%>
                <div class="results-box"><h1><%=results.collection.items[i].data[0].title%></h1> 
                    
                    <% if(results.collection.items[i].links){ %>
                        <img src="<%=results.collection.items[i].links[0].href%>" alt="<%=results.collection.items[i].data[0].title%>">
                    <%}%>
                    <% if(results.collection.items[i].data[0].description){ %>
                        <p><b>Description: </b><%=results.collection.items[i].data[0].description%></p>
                    <%}%>
                    <% if(results.collection.items[i].data[0].location){ %>
                        <p><b>Location: </b><%=results.collection.items[i].data[0].location%></p>
                    <%}%>
                    <% if(results.collection.items[i].data[0].date_created){ %>
                        <p><b>Date Created: </b><%=results.collection.items[i].data[0].date_created%></p>
                    <%}%>
                    <% if(results.collection.items[i].data[0].media_type){ %>
                        <p><b>Media Type: </b><%=results.collection.items[i].data[0].media_type%></p>
                    <%}%>
                    <% if(results.collection.items[i].data[0].nasa_id){ %>
                        <p><b>NASA ID: </b><%=results.collection.items[i].data[0].nasa_id%></p>
                    <%}%>
                    
                    <button class="view-download-button" url="<%=results.collection.items[i].href%>">Links to Download</button>
                    <div class="downloads">
                        <p>Loading <%=results.collection.items[i].href%></p>
                        <p>If link fails to load, enter the link above in another tab to access the information.</p>
                        <!--In very rare cases, the data will not display in the same window due to access control problems, so another option is provided to the user-->
                    </div>

                    <div class="results-spacer"></div>

                    <button class="view-metadata-button" url="https://images-assets.nasa.gov/<%=results.collection.items[i].data[0].media_type%>/<%=results.collection.items[i].data[0].nasa_id%>/metadata.json">Metadata</button>
                    <div class="metadata">
                        <p>Loading https://images-assets.nasa.gov/<%=results.collection.items[i].data[0].media_type%>/<%=results.collection.items[i].data[0].nasa_id%>/metadata.json</p>
                        <p>If link fails to load, enter the link above in another tab to access the information.</p>
                        <!--In very rare cases, the data will not display in the same window due to access control problems, so another option is provided to the user-->
                    </div>

                    <div class="results-spacer"></div>
                    
                    <div class="social-media-sharing">
                        <a href='https://twitter.com/intent/tweet?url=https://nasa-api-search.herokuapp.com&text=Look up "<%=results.collection.items[i].data[0].title%>" on ' style="display:inline-block">
                            <img src="http://www.stickpng.com/assets/images/580b57fcd9996e24bc43c53e.png" alt="Twitter Logo" style="background-color:white; width:45px; height:45px; border: 2px solid #135c97;">
                        </a>
                        <a href='mailto: ?subject=Check out this <%=results.collection.items[i].data[0].media_type%>!&body=Look up "<%=results.collection.items[i].data[0].title%>" on https://nasa-api-search.herokuapp.com' style="display:inline-block">
                            <img src="https://d15omoko64skxi.cloudfront.net/wp-content/uploads/2016/06/envelope.png" alt="Email Logo" style="background-color:white; width:45px; height:45px; border: 2px solid #135c97;">
                        </a>
                        <a href='https://www.facebook.com/sharer/sharer.php?u=https://nasa-api-search.herokuapp.com&quote=Look up "<%=results.collection.items[i].data[0].title%>" on:' style="display:inline-block">
                            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4d/F_icon_reversed.svg/1024px-F_icon_reversed.svg.png" alt="Facebook Logo" style="background-color:white; width:45px; height:45px; border: 2px solid #135c97;">
                        </a>
                    </div>
                </div>   

                <div class="results-spacer"></div>
            <% } %>
        <% } %>

        <% if(error !== null){ %>
          <p><%= error %></p>
        <% } %>
    </div>

        <script>
            //Show advanced search if the switch is flipped to 'advanced'
            function showAdvancedSearch() {
                var checkBox = document.getElementById("search-checkbox");
                var advSearch = document.getElementsByClassName("adv-search");
                var mediaSelector = document.getElementsByClassName("media-selector");

                if (checkBox.checked == true){
                    for (i = 0; i < advSearch.length; i++) {
                        advSearch[i].style.display = "block";
                        mediaSelector[i].style.display = "inline-block";
                    }

                } else {
                    for (i = 0; i < advSearch.length; i++) {
                        advSearch[i].style.display = "none";
                        mediaSelector[i].style.display = "none";
                    }
                }
            }

            //If the 'Links to Download' button is pressed, displays links to access media elements
            var downloads_button = document.getElementsByClassName("view-download-button");
            var i;
            for (i = 0; i < downloads_button.length; i++) {
                downloads_button[i].addEventListener("click", function() {
                    this.classList.toggle("open-downloads");
                    let url = this.getAttribute("url")
                    let content = this.nextElementSibling;
                    var objectFound = false;
                    fetch(url).then(res => res.json()).then(data => {
                        content.innerHTML = "";
                        for(j = 0; j < data.length - 1; j++){
                                let node = document.createElement("p");
                                node.innerHTML = "<a href=" + data[j] +">" + data[j] + "</a>: ";
                                content.appendChild(node);
                        }
                    })
                    if (content.style.display === "block") {
                        content.style.display = "none";
                    } else {
                        content.style.display = "block";
                    }
                });
            }
            
            //If the 'Metadata" button is pressed, displays the metadata for the media
            var metadata_button = document.getElementsByClassName("view-metadata-button");
            var j;
            for (j = 0; j < metadata_button.length; j++) {
                metadata_button[j].addEventListener("click", function() {
                    this.classList.toggle("open-metadata");
                    let url = this.getAttribute("url")
                    let content = this.nextElementSibling;
                    var objectFound = false;
                    fetch(url).then(res => res.json()).then(data => {
                        content.innerHTML = "";
                        for(let key in data){
                            if(!(typeof data[key] === "object")) {
                                //Some media items have certain terms with arrays thousands of lines long
                                //To keep the displayed metadata short, those arrays within the data are excluded
                                let node = document.createElement("p");
                                node.innerHTML = "<b>" + key + "</b>: " + data[key];
                                content.appendChild(node);
                            } else {
                                objectFound = true;
                            } 
                        }
                    if(objectFound) {
                        
                        let node = document.createElement("p");
                        node.innerHTML = "<i> Not all metadata shown. For full list, visit: " + url;
                        content.appendChild(node);
                    }
                    })
                    if (content.style.display === "block") {
                    content.style.display = "none";
                    } else {
                    content.style.display = "block";
                    }
                });
            }
        </script>
  </body>
</html>
